.callback-block {
	display: flex;
	align-items: center;
	&__tel-number {
		font-size: 2.4rem;
		color: $mainColor2;
		margin-right: 40px;
	}

	&__callback-btn {
		color: $mainColor2;
		border-color: $mainColor;
		background-color: transparent;
		padding: 16px 25px;
	}
}

