.default-btn {
	cursor: pointer;
	background-color: transparent;
	font-size: 1.4rem;
	line-height: 1.6rem;
	border: 2px solid;
	border-radius: 5px;
}

// <section class="catalog">
// 			<div class="services__content container">
// 			  <div>
// 				<h2>Каталог недвижемости</h2>
// 				<ul class="tabs" id="portfolio">
// 				  <li class="tabs__item active"><a>Сайты</a></li>
// 				  <li class="tabs__item"><a>SMM</a></li>
// 				  <li class="tabs__item"><a>Контекст</a></li>
// 				  <li class="tabs__item"><a>Брендинг</a></li>
// 				  <li class="tabs__item"><a>Презентация</a></li>
// 				  <li class="tabs__item"><a>Полиграфия</a></li>
// 				</ul>
// 			  </div>
			  
// 				<div class="tab_container">
			  
// 				  <div class="tab_content active">
// 					<!-- Сайты -->
// 					<div class="slider__wrapper">
// 					  <div class="swiper slider">
// 						<!-- Слайдер -->
// 						<div class="swiper-wrapper">
			  
// 						  <div class="swiper-slide">	 
// 							<div class="card-slide">
// 							<div class="catalog__card card">
// 							  <div class="card__image scale"><img src="/src/assete/catalog/zvenigorod.jpg" alt="img"></div>
// 							  <div class="card__body">
// 								<div class="card__text">
// 									<div class="card-subtitle">Отель "Zvenigorod" ("Гелиопарк Талассо")</div>
// 									<div class="card-local">Россия,Московская область</div>
// 								</div>
// 								<div class="card__bottom">
// 									<div class="min-price">от <span>3&nbsp;900&nbsp;₽</span></div>
									
// 									<div class="price-text">
// 										<div class="caption">на человека</div>
// 										<div class="caption">за ночь</div>
// 									</div>
// 								</div>
// 							  </div>
// 							</div>
// 						    </div>
// 						  </div>

// 						  <div class="swiper-slide">	
// 							<div class="card-slide">
// 							<div class="catalog__card card">
// 							  <div class="card__image scale"><img src="/src/assete/catalog/zvenigorod.jpg" alt="img"></div>
// 							  <div class="card__body">
		
// 								<!-- <div class="card__title">
// 									<div class="star"></div>
// 									<div class="star"></div>
// 									<div class="star"></div>
// 									<div class="star"></div>
// 								</div> -->
// 								<div class="card__text">
// 									<div class="card-subtitle">Отель "Zvenigorod" ("Гелиопарк Талассо")</div>
// 									<div class="card-local">Россия,Московская область</div>
// 								</div>
// 								<div class="card__bottom">
// 									<div class="min-price">от <span>3&nbsp;900&nbsp;₽</span></div>
									
// 									<div class="price-text">
// 										<div class="caption">на человека</div>
// 										<div class="caption">за ночь</div>
// 									</div>
// 								</div>
// 							  </div>
// 							</div>
// 						    </div>
// 						  </div>

// 						  <div class="swiper-slide">	
// 							<div class="card-slide">
// 							<div class="catalog__card card">
// 							  <div class="card__image scale"><img src="/src/assete/catalog/zvenigorod.jpg" alt="img"></div>
// 							  <div class="card__body">
		
// 								<!-- <div class="card__title">
// 									<div class="star"></div>
// 									<div class="star"></div>
// 									<div class="star"></div>
// 									<div class="star"></div>
// 								</div> -->
// 								<div class="card__text">
// 									<div class="card-subtitle">Отель "Zvenigorod" ("Гелиопарк Талассо")</div>
// 									<div class="card-local">Россия,Московская область</div>
// 								</div>
// 								<div class="card__bottom">
// 									<div class="min-price">от <span>3&nbsp;900&nbsp;₽</span></div>
									
// 									<div class="price-text">
// 										<div class="caption">на человека</div>
// 										<div class="caption">за ночь</div>
// 									</div>
// 								</div>
// 							  </div>
// 							</div>
// 						    </div>
// 						  </div>

// 						  <div class="swiper-slide">	
// 							<div class="card-slide">
// 							<div class="catalog__card card">
// 							  <div class="card__image scale"><img src="/src/assete/catalog/zvenigorod.jpg" alt="img"></div>
// 							  <div class="card__body">
		
// 								<!-- <div class="card__title">
// 									<div class="star"></div>
// 									<div class="star"></div>
// 									<div class="star"></div>
// 									<div class="star"></div>
// 								</div> -->
// 								<div class="card__text">
// 									<div class="card-subtitle">Отель "Zvenigorod" ("Гелиопарк Талассо")</div>
// 									<div class="card-local">Россия,Московская область</div>
// 								</div>
// 								<div class="card__bottom">
// 									<div class="min-price">от <span>3&nbsp;900&nbsp;₽</span></div>
									
// 									<div class="price-text">
// 										<div class="caption">на человека</div>
// 										<div class="caption">за ночь</div>
// 									</div>
// 								</div>
// 							  </div>
// 							</div>
// 						    </div>
// 					      </div>

// 						  <div class="swiper-slide">	
// 							<div class="card-slide">
// 							<div class="catalog__card card">
// 							  <div class="card__image scale"><img src="/src/assete/catalog/zvenigorod.jpg" alt="img"></div>
// 							  <div class="card__body">
		
// 								<!-- <div class="card__title">
// 									<div class="star"></div>
// 									<div class="star"></div>
// 									<div class="star"></div>
// 									<div class="star"></div>
// 								</div> -->
// 								<div class="card__text">
// 									<div class="card-subtitle">Отель "Zvenigorod" ("Гелиопарк Талассо")</div>
// 									<div class="card-local">Россия,Московская область</div>
// 								</div>
// 								<div class="card__bottom">
// 									<div class="min-price">от <span>3&nbsp;900&nbsp;₽</span></div>
									
// 									<div class="price-text">
// 										<div class="caption">на человека</div>
// 										<div class="caption">за ночь</div>
// 									</div>
// 								</div>
// 							  </div>
// 							</div>
// 						    </div>
// 						  </div>

// 						  <div class="swiper-slide">	
// 							<div class="card-slide">
// 							<div class="catalog__card card">
// 							  <div class="card__image scale"><img src="/src/assete/catalog/zvenigorod.jpg" alt="img"></div>
// 							  <div class="card__body">
		
// 								<!-- <div class="card__title">
// 									<div class="star"></div>
// 									<div class="star"></div>
// 									<div class="star"></div>
// 									<div class="star"></div>
// 								</div> -->
// 								<div class="card__text">
// 									<div class="card-subtitle">Отель "Zvenigorod" ("Гелиопарк Талассо")</div>
// 									<div class="card-local">Россия,Московская область</div>
// 								</div>
// 								<div class="card__bottom">
// 									<div class="min-price">от <span>3&nbsp;900&nbsp;₽</span></div>
									
// 									<div class="price-text">
// 										<div class="caption">на человека</div>
// 										<div class="caption">за ночь</div>
// 									</div>
// 								</div>
// 							  </div>
// 							</div>
// 						    </div>
// 						  </div>
			  
// 						</div>			  
// 						<div class="swiper-button-prev"></div>
// 						<div class="swiper-button-next"></div>
// 						<!-- <div class="swiper__mobile">
// 						  <div class="counter"></div>
// 						  <div class="swiper-pagination"></div>
// 						</div> -->
// 					  </div>
// 					</div>
// 				  </div>
			  
// 				  <div class="tab_content">
// 					<!-- Сайты -->
// 					<div class="slider__wrapper">
// 					  <div class="swiper slider">
// 						<!-- Слайдер -->
// 						<div class="swiper-wrapper">
			  
// 						  <div class="swiper-slide">Слайд 2</div>
// 						  <div class="swiper-slide">Слайд 2</div>
// 						  <div class="swiper-slide">Слайд 2</div>
// 						  <div class="swiper-slide">Слайд 2</div>
// 						  <div class="swiper-slide">Слайд 2</div>
// 						  <div class="swiper-slide">Слайд 2</div>
			  
// 						</div>		  
// 						<div class="swiper-button-prev"></div>
// 						<div class="swiper-button-next"></div>			  			  
// 					  </div>			  
// 					</div>
// 				  </div>
// 				  <!-- SMM -->
// 				  <div class="tab_content">
// 					<!-- Сайты -->			  
// 					<div class="slider__wrapper">			  
// 					  <div class="swiper slider">
// 						<!-- Слайдер -->			  
// 						<div class="swiper-wrapper">
			  
// 						  <div class="swiper-slide">Слайд 3</div>
// 						  <div class="swiper-slide">Слайд 3</div>
// 						  <div class="swiper-slide">Слайд 3</div>
// 						  <div class="swiper-slide">Слайд 3</div>
// 						  <div class="swiper-slide">Слайд 3</div>
// 						  <div class="swiper-slide">Слайд 3</div>
			  
// 						</div>			  
// 						<div class="swiper-button-prev"></div>
// 						<div class="swiper-button-next"></div>		  
// 					  </div>			  
// 					</div>
// 				  </div>
// 				  <!-- Контекст -->			  
// 				  <div class="tab_content">
// 					<!-- Сайты -->			  
// 					<div class="slider__wrapper">			  
// 					  <div class="swiper slider">
// 						<!-- Слайдер -->			  
// 						<div class="swiper-wrapper">
			  
// 						  <div class="swiper-slide">Слайд 4</div>
// 						  <div class="swiper-slide">Слайд 4</div>
// 						  <div class="swiper-slide">Слайд 4</div>
// 						  <div class="swiper-slide">Слайд 4</div>
// 						  <div class="swiper-slide">Слайд 4</div>
// 						  <div class="swiper-slide">Слайд 4</div>
			  
// 						</div>			  
// 						<div class="swiper-button-prev"></div>
// 						<div class="swiper-button-next"></div>			  
// 					  </div>		  
// 					</div>
// 				  </div>
// 				  <!-- Брендинг -->			  
// 				  <div class="tab_content">
// 					<!-- Сайты -->			  
// 					<div class="slider__wrapper">			  
// 					  <div class="swiper slider">
// 						<!-- Слайдер -->			  
// 						<div class="swiper-wrapper">
			  
// 						  <div class="swiper-slide">Слайд 5</div>
// 						  <div class="swiper-slide">Слайд 5</div>
// 						  <div class="swiper-slide">Слайд 5</div>
// 						  <div class="swiper-slide">Слайд 5</div>
// 						  <div class="swiper-slide">Слайд 5</div>
// 						  <div class="swiper-slide">Слайд 5</div>
			  
// 						</div>			  
// 						<div class="swiper-button-prev"></div>
// 						<div class="swiper-button-next"></div>			  
// 					  </div>			  
// 					</div>
// 				  </div>
// 				  <!-- Презентация -->			  
// 				  <div class="tab_content">
// 					<!-- Сайты -->			  
// 					<div class="slider__wrapper">			  
// 					  <div class="swiper slider">
// 						<!-- Слайдер -->			  
// 						<div class="swiper-wrapper">
			  
// 						  <div class="swiper-slide">Слайд 6</div>
// 						  <div class="swiper-slide">Слайд 6</div>
// 						  <div class="swiper-slide">Слайд 6</div>
// 						  <div class="swiper-slide">Слайд 6</div>
// 						  <div class="swiper-slide">Слайд 6</div>
// 						  <div class="swiper-slide">Слайд 6</div>
			  
// 						</div>			  
// 						<div class="swiper-button-prev"></div>
// 						<div class="swiper-button-next"></div>			  
// 					  </div>			  
// 					</div>
// 				  </div>
// 				  <!-- Полиграфия -->			  
// 				</div>			  
// 			  </div>
// 		</section>