.decor-circle-up {
    position: absolute;
	z-index: -1;
    top: -644px;
    right: 0;
	left: 50%;
	min-width: 100%;
    height: auto;
}

.decor-circle {
	position: absolute;
	z-index: -1;
	top: -407px;
	right: 50%;
	min-width: 100%;
	height: auto;
}