.filter {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 165px; 
	height: 75px;
	border-radius: 4px;
	background-color: $mainColor2;
	@media (max-width: 768px) {
		grid-template-columns: repeat(3, 1fr);
		padding: 10px 10px 5px;
		height: auto;
	}
	@media (max-width: 475px) {
		grid-template-columns: 1fr;
		gap: 10px;
	}
	&__block {
		&:nth-child(2) {
			border-right: 1px solid $border-color;
			border-left: 1px solid $border-color;
		}
	}
	&__btn {
		padding: 5px 5px 5px;
		button {
			cursor: pointer;
			background-color: $mainColor;
			height: 100%;
			width: 100%;
			border: none;
			border-radius: 4px;
			font-weight: 500;
			font-size: 1.6rem;
			color: $mainColor2;
			padding: 10px 10px 10px;
			&:active {
				background-color: $btn-bg-color;
			}
		}
		@media (max-width: 768px) and (min-width: 475px) {
			grid-column: 1/4;
		}
	}
}

.block-filter {
	position: relative;
	&__btn {
		padding: 0 clamp(.5rem, calc(-6.95rem + 11vw), 4rem);
		display: flex;
		justify-content: center;
		height: 100%;
		flex-direction: column;
	}
	&__header {
		display: flex;
		align-items: center;
		margin-bottom: 6px;
	}
	&__type {
		white-space: nowrap;
		font-size: clamp(1.5rem, calc(-6.95rem + 11vw), 1.6rem);
		color: $text-color-2;
		padding-right: 2px;
	}
	&__icon {
		position: relative;
        top: 8px;
		left: 5px;
        width: 14px;
        height: 14px;
		background: url(../scss/common/chevron-down_gray.svg) right bottom no-repeat;
		transform: translateY(-50%);
		transition: transform .25s linear 0s;
		&._active{
			transform: rotate(180deg) translateY(50%);
		}
	}
	&__value {
		white-space: nowrap;
		color: $text-color;
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 2.2rem;
		text-transform: capitalize;
	}
	&__dropdown {
		position: absolute;
		z-index: 3;
		top: 100%;
		left: 0;
		right: 0;
		background-color: $mainColor2; 
		color: $text-color;
		border-radius: 5px;
		overflow: hidden;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all .2s;
		box-shadow: 0 0 5px 1px $bs-color;
		&._active{
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			transform: translateY(5px);
		}	
	}
	&__item {
		padding: 10px;
		font-size: 1.6rem;
		line-height: 1.5rem;
		transition: background-color .2s;
		text-transform: capitalize;
		cursor: pointer;
		@media (any-hover: hover) {
			&:hover{
				background-color: $bg-color;
			}
		}
	}
}
