.header {
    position: relative;
	z-index: 2;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;
	}

	&__logo-block {
		display: inline-grid;
	}

	// &__logo-img {}

	&__logo-title {
		font-size: 2.7rem;
		line-height: 100%;
		color: $mainColor;
	}

	&__text {
		color: $mainColor2;
		font-size: 1.8rem;
		line-height: 100%;
	}
}