.header {

	&__content {
		padding: 140px 0 140px;
	}

	&__title {
		max-width: 600px;
		font-size: 3.6rem;
		line-height: 4.3rem;
		margin-bottom: 80px;
		color: $mainColor2;
	}

	&__btn {
		font-size: 1.8rem;
		line-height: 2.1rem;
		background: $mainColor;
		color: $mainColor2;
		padding: 30px 45px;
		border: none;
		margin-bottom: 150px;
	}

	ul {
		display: flex;
	}

	&__dot::before {
		content: "";
		background-image: url(/src/assete/header/dot.svg);
		float: left;
		margin: 2px 20px 25px 0;
		width: 14px;
		height: 14px;
		box-shadow: 0px 0px 0px 4px #766751;
		border-radius: 50%;
	}

	&__subtitle {
		font-size: 1.8rem;
		line-height: 2.1rem;
		color: $mainColor2;
		margin-right: 90px;
	}	
}
