.home {
	position: relative;
	background: linear-gradient(to top, rgba(137, 123, 123, 0.1), rgba(85, 97, 114, 0.15)), url(../assete/home/main-citycom.jpg) no-repeat;
	background-size: cover;
	&__wrapper {
		max-width: 930px;
		padding: 40px 12px 110px;
		@media (max-width: 840px) {
			padding: 35px 12px 60px;
		}
	}
}
 .title {
	margin-bottom: clamp(4.2rem, 9vw, 7.5rem); 
	&__text {
		font-size: clamp(2.5rem, 6vw, 4.5rem);
        line-height: clamp(2.5rem, 6vw, 5rem);
		color: $mainColor2;
	}
 }
