.primary {
	// background: #F6F4EF;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 50px 12px 50px;
		@media (max-width: 600px) {
			flex-direction: column-reverse;
			padding: 30px 12px 30px;
		}
	}	

	&__content {
		flex: 0 0 calc(620 / 1270 * 100%);
	}

	&__title {
		font-size: 3.6rem;
		font-weight: 600;
		line-height: 4.3rem;
		font-size: clamp(2.5rem, 4vw, 3.6rem);
		line-height: clamp(2.5rem, 4vw, 4.3rem);
		color: $text-color;
		padding: 0 0 16px;
		@media (max-width: 600px) {
			padding: 16px 0 16px;
		}
	}
	
	&__text {
		font-size: 1.6rem;
		font-weight: 200;
		line-height: 2.9rem;
		line-height: clamp(2rem, 3vw, 2.9rem);
		color: $text-color;
		padding: 0 0 clamp(1.5rem, calc(-6.95rem + 11vw), 4rem);
	}

	&__btn {
		color: $text-color;
		border-color: $mainColor;
		padding: 12px 15px;
		
		@media (any-hover: hover) {
			&:hover {
				color: $mainColor2;
				 background-color: $mainColor;
                 transition: background-color .2s;
			}
        }
		&:active {
			background-color: $btn-bg-color;
		}
		
	}

	&__img {
		flex: 0 0 calc(620 / 1270 * 100%);
		img {
			max-width: 100%;
		}
	}

	&__subscribe-btn {
		button {
			width: auto;
			min-width: 160px;
			cursor: pointer;
			background-color: $mainColor;
			border: none;
			border-radius: 4px;
			font-weight: 500;
			font-size: 1.6rem;
			color: $mainColor2;
			padding: 13px 10px;
			&:active {
				background-color: #B28D4E;
			}
		}
	}
}

.col {
	@media (max-width: 600px) {
	flex-direction: column;
	}
}

