.rent {
	display: grid;
	grid-template-columns: 1fr 165px; 
	max-width: 550px;
	height: 44px;
	border-radius: 4px;
	@media (max-width: 768px) {
		grid-template-columns: repeat(1, 1fr);
		height: auto;
	}
	@media (max-width: 475px) {
		grid-template-columns: 1fr;
		gap: 10px;
	}

	&__block {
		&:nth-child(2) {
			border-right: 1px solid $bg-color;
			border-left: 1px solid $bg-color;
		}
	}

	&__btn {
		margin-left: 8px;
		button {
			cursor: pointer;
			background-color: $mainColor;
			height: 100%;
			width: 100%;
			border: none;
			border-radius: 4px;
			font-weight: 500;
			font-size: 1.6rem;
			color: $mainColor2;
			padding: 10px 10px 10px;
			&:active {
				background-color: #B28D4E;
			}
		}
		@media (max-width: 768px) and (min-width: 320px) {
			grid-column: 1/4;
			margin: 0;
		}
	}
}
.block-rent {
	position: relative;
	border: 2px solid $bg-color;
	border-radius: 4px;
	@media (max-width: 768px) {
		height: 38px;
		margin-bottom: 12px;
	}
	&__btn {
		padding: 0 clamp(0.5rem, calc(-8.95rem + 11vw), 2rem);
		display: flex;
		justify-content: center;
		height: 100%;
		flex-direction: column;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__type {
		display: none;
		padding: 3px 3px 0 0;
		font-size: 1.6rem;
		color: $text-color-2;
	}

	&__icon {
		position: relative;
        top: 8px;
		width: 14px;
		height: 14px;
		background: url(/src/assete/main-banner/chevron-down_gray.svg) right bottom no-repeat;
		transform: translateY(-50%);
        transition: transform .25s linear 0s;
		&._active{
			transform: rotate(180deg) translateY(50%);
		}
	}

	&__value {
		white-space: nowrap;
		color: $text-color;
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 2.2rem;
		margin-right: 5px;
	}

	&__dropdown {
		position: absolute;
		z-index: 3;
		top: 100%;
		left: 0;
		right: 0;
		background-color: $mainColor2; 
		color: $text-color;
		border-radius: 5px;
		overflow: hidden;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all .2s;
		box-shadow: 0 0 5px 1px $bs-color;
		&._active{
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			transform: translateY(5px);
		}
		

	}

	&__item {
		padding: 10px;
		font-size: 1.6rem;
		line-height: 1.5rem;
		transition: background-color .2s;
		text-transform: capitalize;
		cursor: pointer;
		@media (any-hover: hover) {
			&:hover{
				background-color: $bg-color;
			}
		}
	}
}

.subscribe__btn {
	button {
		width: auto;
        min-width: 160px;
		cursor: pointer;
		background-color: $mainColor;
		height: 100%;
		border: none;
		border-radius: 4px;
		font-weight: 500;
		font-size: 1.6rem;
		color: #ffffff;
		padding: 13px 10px;
		&:active {
			background-color: #B28D4E;
		}
	}
}
