
.swiper-btn-next {
	position: absolute;
	width: 30px;
    height: 40px;
    border: 1px solid;
    border-radius: 4px;
    right: 0px;
    bottom: 168px;
    z-index: 1;
	cursor: pointer;
	
	@media (any-hover: hover) {
		&:hover {
			background: #faf4f4;
		}
	}
	
	img {
		position: relative;
		left: 2px;
		top: 7px;
	}
}

.swiper-btn-prev {
	position: absolute;
	width: 30px;
    height: 40px;
    border: 1px solid;
    border-radius: 4px;
    bottom: 168px;
    z-index: 1;
	cursor: pointer;

	@media (any-hover: hover) {
		&:hover {
			background: #faf4f4;
		}
	}

	img {
		position: relative;
		top: 7px;
		left: 0;
	}
}
