html {
  font-size: 10px;
  line-height: 10px;
  color: #000000; }

body {
  margin: 0;
  padding: 0; }

h1,
h2,
h3 {
  margin: 0; }

a {
  text-decoration: none;
  color: #000000; }

ul {
  margin-left: 0;
  padding-left: 0; }

li {
  list-style-type: none; }

.--text-color {
  color: #CFA55B; }

.default-btn {
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 1.6rem;
  border: 2px solid;
  border-radius: 5px; }

.info-card {
  display: flex;
  justify-content: space-evenly;
  padding: 12px;
  margin-bottom: 74px; }
  .info-card__main-block {
    display: flex;
    flex-direction: column; }
  .info-card__img-block {
    display: flex;
    justify-content: center;
    align-items: end; }
  .info-card__img {
    height: 370px;
    border-radius: 10px; }
  .info-card__section-title {
    display: block;
    text-align: center;
    margin-bottom: 55px; }
  .info-card__title {
    font-size: 3rem;
    line-height: 3.6rem;
    color: #454545; }
  .info-card__list-title {
    margin-bottom: 13px; }
    .info-card__list-title li:first-child {
      margin-bottom: 42px; }
  .info-card__decor-title::before {
    content: "";
    background-image: url("/src/assete/info-card/romb.svg");
    float: left;
    margin: 2px 20px 0 0;
    width: 27px;
    height: 27px; }
  .info-card__sub-title {
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #424242;
    margin-bottom: 32px; }
  .info-card__number {
    font-weight: 900;
    font-size: 9.6rem;
    line-height: 11.3rem;
    color: #CFA55B;
    opacity: 30%; }
  .info-card__offer-btn {
    font-size: 1.8rem;
    line-height: 2.1rem;
    background: #CFA55B;
    color: #ffffff;
    padding: 32px 66px;
    border: none; }

.callback-block {
  display: flex;
  align-items: center; }
  .callback-block__tel-number {
    font-size: 2.4rem;
    color: #ffffff;
    margin-right: 40px; }
  .callback-block__callback-btn {
    color: #ffffff;
    border-color: #CFA55B;
    background-color: transparent;
    padding: 16px 25px; }

.header-nav {
  position: relative;
  z-index: 2;
  background: #CFA55B; }
  .header-nav__link {
    font-size: 1.8rem;
    line-height: 1.6rem;
    color: #ffffff; }
    .header-nav__link:not(:last-child) {
      margin-right: 30px; }
  .header-nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 0; }

.header {
  position: relative;
  z-index: 2; }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0; }
  .header__logo-block {
    display: inline-grid; }
  .header__logo-title {
    font-size: 2.7rem;
    line-height: 100%;
    color: #CFA55B; }
  .header__text {
    color: #ffffff;
    font-size: 1.8rem;
    line-height: 100%; }

.presentation {
  position: relative;
  bottom: 156px;
  background-image: url(../assete/presentation/presentation.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .presentation__wrapper {
    padding: 200px 0; }
  .presentation__main-info {
    position: relative;
    top: 70px; }
  .presentation__title {
    font-size: 3.2rem;
    line-height: 3.5rem;
    margin-bottom: 80px;
    color: #ffffff; }
  .presentation__btn {
    font-size: 1.8rem;
    line-height: 2.1rem;
    background: #CFA55B;
    color: #ffffff;
    padding: 30px 45px;
    border: none;
    margin-bottom: 150px; }
  .presentation ul {
    display: flex; }
  .presentation__dot::before {
    content: "";
    background-image: url(/src/assete/presentation/dot.svg);
    float: left;
    margin: 2px 20px 25px 0;
    width: 14px;
    height: 14px;
    box-shadow: 0px 0px 0px 4px #766751;
    border-radius: 50%; }
  .presentation__sub-title {
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #ffffff;
    margin-right: 150px; }
