html {
	font-size: 10px;
	line-height: 10px;
	color: $title-text-color;
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
	margin: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: $link-text-color;
}

ul {
	margin: 0;
	padding-left: 0;
  }

li {
	list-style-type: none;
}

.wrapper {
	max-width: 1200px;
    margin: 0 auto;
	padding: 0 15px;
}

// section,
// header,
footer {
	display: flex;
	justify-content: center;
}

.--text-color {
	color: $mainColor;
}